@model WebSystem.Models.CarbonAbsorption


@{
    ViewData["Title"] = "Details";
}

<style>
    .span-calc {
        font-size: 20px;
        font-weight: bold;
    }

    .label-calc {
        font-size: 20px;
    }
</style>

<form asp-action="Details" >
    <div class="row text-center">
        <div class="col-md-6">
            <div class="form-group">
                <label class="label-calc">Jenis Tanaman</label>
                <div>
                    <label class="span-calc">@ViewBag.TreeName</label>
                    @*@Html.DisplayFor(model => model.TreeId)*@
                </div>
                <span asp-validation-for="TreeId" class="text-danger"></span>
            </div>
        </div>
        
        <div class="col-md-6" hidden>
            <div class="form-group">
                <label class="label-calc">Umur Tanaman</label>
                <div>
                    <label class="span-calc">@ViewBag.Age</label>
                </div>
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
        </div>
    
    </div>
    <div class="row text-center">
        <div class="col-md-6">
            <div class="form-group">
                <label class="label-calc">Jumlah Tanaman</label>
                <div>
                    <label class="span-calc">@ViewBag.Amount</label>
                </div>
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="label-calc">Serapan Karbon (kg/pohon/tahun)</label>
                <div>
                    <label class="span-calc">@ViewBag.treeEmision</label>
                </div>
                @*<span asp-validation-for="TreeEmision2" class="text-danger"></span>*@
            </div>
        </div>
    </div>

    <div class="row">

        @*bulan*@
        <div class="col-md-6 text-center">
            <div class="d-flex justify-content-center pt-4">
                <div class="card text-white bg-danger" style="width: 30rem; border-radius:0;">
                    <div class="card-body text-center" style="padding: 0.50rem;">
                        <p class="card-text" style="font-size: 1.4rem;">AKUMULASI BULAN INI</p>
                    </div>
                </div>
            </div>
            @*<input type="hidden" asp-for="carbonAbsorptionId"  />*@
            <div class="form-group">
                <label class="label-calc">Serapan Karbon</label>
                <div>
                    <span class="span-calc">@ViewBag.treeEmisionMonth</span>
                </div>
            </div>            
        </div>

        @*tahun*@
        <div class="col-md-6 text-center">
            <div class="d-flex justify-content-center pt-4">
                <div class="card text-white bg-primary" style="width: 30rem; border-radius:0;">
                    <div class="card-body text-center" style="padding: 0.50rem;">
                        <p class="card-text" style="font-size: 1.4rem;">AKUMULASI SETAHUN</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="label-calc">Serapan Karbon</label>
                <div>
                    <span class="span-calc">@ViewBag.treeEmisionYear</span>
                </div>
            </div>            
        </div>
    </div>
    <div class="form-group">
        <div class="col text-center">
            <a class="btn btn-light" asp-action="Index">Kembali</a>
        </div>
    </div>

</form>