@model WebSystem.Models.VwVehicleList_User_Action

@{
    ViewData["Title"] = "Edit";
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>Error ! </strong> @TempData["ErrorMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span>&times;</span>
        </button>
    </div>
}

<style>
     .span-calc {
         font-size: 20px;
         font-weight: bold;
     }
     .label-calc {
         font-size: 20px;
     }
</style>

<partial name="_HomeButton" />

<div class="d-flex justify-content-center pt-2">
    <div class="card text-white bg-danger" style="width: 12rem;">
        <div class="card-body text-center" style="padding: 0.25rem;">
           @* <p class="card-text"><i class="fa fa-calendar"></i> @ViewBag.periodedetail</p>*@
            <a class="btn text-white" asp-controller="Periode" asp-action="Index" title="Ke Halaman Periode"><i class="fa fa-calendar"></i> @ViewBag.periodedetail</a>
        </div>
    </div>
</div>

<div class="text-center" style="padding-top:15px;">
    @*<h2>Hai, @ViewBag.Displayname</h2>*@
    <h3>Hitung emisi karbon kendaraan kamu</h3>
</div>

<nav>
    <div class="nav nav-tabs nav-pills nav-justified flex-sm-row" id="nav-tab" role="tablist">
        @*<a class="nav-item nav-link active" id="nav-rumah-tab" data-toggle="tab" href="#nav-rumah" role="tab" aria-controls="nav-rumah" aria-selected="true" idSpan="1" spanName="karbon di tempat tinggal"><i class="fa fa-house"></i> Rumah</a>
        <a class="nav-item nav-link disabled" id="nav-kendaraan-tab" href="#nav-kendaraan" role="tab" aria-controls="nav-kendaraan" aria-selected="false" idSpan="1" spanName="karbon kendaraan"><i class="fa fa-car"></i> Kendaraan</a>
        <a class="nav-item nav-link disabled" id="nav-serapan-tab" href="#nav-serapan" role="tab" aria-controls="nav-serapan" aria-selected="false" idSpan="1" spanName="serapan karbon"><i class="fa fa-tree"></i> Serapan Karbon</a>*@
        <a class="nav-item nav-link disabled" asp-controller="Household" asp-action="Index"><img src="/assets/img/home_nav.png" style="width:25px;" /> Tempat Tinggal</a>
        <a class="nav-item nav-link active" asp-controller="Vehicle" asp-action="Index"><img src="/assets/img/vehicle_nav.png" style="width:25px;" /> Kendaraan</a>
        <a class="nav-item nav-link disabled" asp-controller="CarbonAbsorption" asp-action="Index"><img src="/assets/img/Tree_nav.png" style="width:25px;" /> Serapan Karbon</a>
    </div>
</nav>

<div class="tab-content" id="nav-tabContent">

    @*tempat tinggal*@
    <div class="tab-pane fade show active" id="nav-rumah" role="tabpanel" aria-labelledby="nav-rumah-tab">
        <div class="row" style="margin-top: 50px">
            <div class="col-md-12">
                <form asp-action="Edit" method="post">
                    <div id="variabel">
                        <div class="row">
                            <input type="hidden" asp-for="VehicleEmisionId" />
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Kendaraan</label>
                                   @* <select asp-for="VehicleId" class="form-control" asp-items="@ViewBag.Vehicle"></select>*@
                                    <select asp-for="VehicleId" class="form-control" asp-items="@ViewBag.Vehicle" disabled></select>
                                    <input asp-for="VehicleId" class="form-control" hidden />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Jenis Transportasi @*<a data-toggle="modal" data-target="#JenisTransportHelp" href="#"><i class="fa fa-question-circle"></i></a>*@</label>
                                    <select asp-for="TransportationId" class="form-control" asp-items="@ViewBag.Transporttasi" disabled></select>
                                    <input asp-for="TransportationId" class="form-control" hidden />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Bahan Bakar @*<a data-toggle="modal" data-target="#FuelHelp" href="#"><i class="fa fa-question-circle"></i></a>*@</label>
                                    <select asp-for="FuelId" class="form-control" asp-items="@ViewBag.Fuel"></select>
                                    <input asp-for="FuelId" class="form-control" hidden />
                                    @*<input asp-for="AmountPeople" class="form-control" placeholder="Input here" />
                                    <span asp-validation-for="AmountPeople" class="text-danger"></span>*@
                                </div>
                            </div>
                             <div class="col-md-6" >
                                <div class="form-group">
                                    <label>Jumlah Penumpang (Orang) <a data-toggle="modal" data-target="#MaxCapHelp" href="#"><i class="fa fa-question-circle"></i></a></label>
                                    
                                   @{if(@Model.TransportationId == 1)
                                        {
                                            <input asp-for="AmountPeople" class="form-control" placeholder="Input here" min="1" disabled/>
                                            <input asp-for="AmountPeople" class="form-control" placeholder="Input here" hidden />
                                        }
                                        else
                                        {
                                             <input asp-for="AmountPeople" class="form-control" placeholder="Input here" min="0" />
                                        }
                                    }
                                    <span asp-validation-for="AmountPeople" class="text-danger"></span>
                                </div>
                            </div>

                            


                           
                       @* </div>
                        <div class="row">*@
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Jarak Tempuh (KM)  <a data-toggle="modal" data-target="#JarakTempuhHelp" href="#"><i class="fa fa-question-circle"></i></a></label>
                                    <input asp-for="Mileage" class="form-control" placeholder="Input here" min="0"/>
                                    <span asp-validation-for="Mileage" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Frekuensi Perjalanan <a data-toggle="modal" data-target="#FrekuensiHelp" href="#"><i class="fa fa-question-circle"></i></a></label>
                                    <input asp-for="TravelFrequency" class="form-control" placeholder="Input here" min="0"/>
                                    <span asp-validation-for="TravelFrequency" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group" hidden>
                                <label> Cubical Centimeters @*<a data-toggle="modal" data-target="#CCHelp" href="#"><i class="fa fa-question-circle"></i></a>*@</label>
                                <select asp-for="CapacityId" class="form-control" asp-items="@ViewBag.VCapacity"></select>
                                <input asp-for="CapacityId" class="form-control" hidden />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col text-center">
                                <input type="submit" value="Kalkulasi" class="btn btn-primary" />
                                @*<a class="btn btn-primary" asp-action="HouseholdCalc">kalkulasi</a>*@
                                @*<input class="btn btn-primary" type="submit" name="Submit" value="Kalkulasi" />*@
                                @*<input class="btn btn-danger" type="reset" name="Reset" value="Clear" />*@
                                @*<input class="btn btn-secondary" type="submit" name="Back" value="Kembali" />*@
                                <a class="btn btn-light" asp-action="Index">Kembali</a>
                            </div>
                        </div>
                    </div>

                    @*Kalkulasi*@
                    <div id="kalkulasi">

                        <div class="row text-center">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="label-calc">Kendaraan</label>
                                    <div>
                                        <label class="span-calc">@Html.DisplayFor(model => model.VehicleName)</label>
                                    </div>
                                    <span asp-validation-for="VehicleName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="label-calc">Jenis Kendaraan</label>
                                    <div>
                                        <label class="span-calc">@Html.DisplayFor(model => model.TransportationName)</label>
                                    </div>
                                    <span asp-validation-for="TransportationName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="label-calc">Bahan Bakar</label>
                                    <div>
                                        <label class="span-calc">@Html.DisplayFor(model => model.FuelName)</label>
                                    </div>
                                    <span asp-validation-for="FuelName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="label-calc">Jarak Tempuh </label>
                                    <div>
                                        <label class="span-calc">@Html.DisplayFor(model => model.Mileage)</label>
                                    </div>
                                    <span asp-validation-for="Mileage" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="label-calc">Jumlah Penumpang (Orang)</label>
                                    <div>
                                        <label class="span-calc">@Html.DisplayFor(model => model.AmountPeople)</label>
                                    </div>
                                    <span asp-validation-for="AmountPeople" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="label-calc">Frekuensi Perjalanan</label>
                                    <div>
                                        <label class="span-calc">@Html.DisplayFor(model => model.TravelFrequency)</label>
                                    </div>
                                    <span asp-validation-for="TravelFrequency" class="text-danger"></span>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="label-calc">Emisi Per Bulan (KG CO<sup>2</sup>)</label>
                                    <div>
                                        <label class="span-calc">@Html.DisplayFor(model => model.EmisionBulan)</label>
                                    </div>
                                    <span asp-validation-for="EmisionBulan" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            @*bulan*@
                            <div class="col-md-6 text-center">
                                <div class="d-flex justify-content-center pt-4">
                                    <div class="card text-white bg-danger" style="width: 30rem; border-radius:0;">
                                        <div class="card-body text-center" style="padding: 0.50rem;">
                                            <p class="card-text" style="font-size: 1.4rem;">AKUMULASI BULAN INI</p>
                                        </div>
                                    </div>
                                </div>
                                @*<input type="hidden" asp-for="HouseholdId" />*@
                                <div class="form-group">
                                    <label class="label-calc">Emisi Kendaraan (KG CO<sup>2</sup>)</label>
                                    <div>
                                        @*<span class="span-calc">@Html.DisplayFor(model => model.EmisionBulan)</span>*@
                                        <span class="span-calc">@ViewBag.VehicleEmisionMonth</span>
                                    </div>
                                </div>
                            </div>

                            @*tahun*@
                            <div class="col-md-6 text-center">
                                <div class="d-flex justify-content-center pt-4">
                                    <div class="card text-white bg-primary" style="width: 30rem; border-radius:0;">
                                        <div class="card-body text-center" style="padding: 0.50rem;">
                                            <p class="card-text" style="font-size: 1.4rem;">AKUMULASI SETAHUN</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="label-calc">Emisi Kendaraan (KG CO<sup>2</sup>)</label>
                                    <div>
                                        <span class="span-calc">@ViewBag.VehicleEmisionYear</span>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col text-center">
                                <input class="btn btn-primary" type="submit" value="Simpan" asp-action="UpdateSave" />
                                <a class="btn btn-light" asp-action="Index">Kembali</a>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>

    @*kendaraan*@
    <div class="tab-pane fade" id="nav-kendaraan" role="tabpanel" aria-labelledby="nav-kendaraan-tab"></div>

    @*serapan karbon*@
    <div class="tab-pane fade" id="nav-serapan" role="tabpanel" aria-labelledby="nav-serapan-tab"></div>
</div>

<partial name="_VehicleHelpModal" />

@section Scripts {

    <script>
        function HideOnLoad() {
            $("#variabel").show();
            $("#kalkulasi").hide();
        }

        $(document).ready(function () {
            var JarakTempuh = '@ViewBag.JarakTempuh'
            var FrekuensiPerjalanan = '@ViewBag.FrekuensiPerjalanan'

            if (JarakTempuh == '' || FrekuensiPerjalanan == '') {
                HideOnLoad();
            }
            else {
                $("#variabel").hide(500);
                $("#kalkulasi").show(500);
            }
        });

        $(document).ready(function () {
            $("#submit").click(function () {
                $("#variabel").hide(500);
                $("#kalkulasi").show(500);
            });
        });

        $(document).ready(function () {
            $("#kembali").click(function () {
                $("#variabel").show(500);
                $("#kalkulasi").hide(500);
            });
        });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
